<%= form_with(model: favorite) do |form| %>
  <% if favorite.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(favorite.errors.count, "error") %> prohibited this favorite from being saved:</h2>

      <ul>
        <% favorite.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "w-1/2 p-2 border border-gray-300 rounded bg-white" %>
  </div>

  <br>

  <div>
    <%= form.label :category, "カテゴリ" %>
    <%= form.select :category,
        Favorite.categories.keys.map { |k| [k.humanize, k] },
        {},
        class: "border rounded p-2 bg-white" %>
  </div>

  <div>
    <%= form.label :memo, style: "display: block" %>
    <%= form.textarea :memo, class: "w-1/2 p-2 border border-gray-300 rounded bg-white" %>
  </div>

    <div class="mb-6">
    <p class="font-bold mb-2">関連する出演者</p>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-3 max-h-60 overflow-y-auto">
      <% Artist.all.each do |artist| %>
        <label class="flex items-center gap-2 border rounded p-2 hover:bg-gray-50 cursor-pointer">
          <%= check_box_tag "favorite[artist_ids][]",
                artist.id,
                favorite.artist_ids.include?(artist.id) %>
          <span><%= artist.name %></span>
        </label>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
