<h1>参戦したライブ・イベント一覧</h1>

<%= link_to "新しいライブを追加", new_live_event_path %>

<ul>
  <% @live_events.each do |event| %>
    <li><%= event.title %> - <%= event.date %> - <%= event.venue %> - <%= event.artist %></li>
  <% end %>
</ul>
